/*BASE*/

.main-nav>* {
    margin-left: 10px;
}


/*COMPONENT*/

.search-input {
    position: absolute;
    top: 0;
    left : 50%;
}

.mail-preview {
    border: 1px solid black;
}


/*HELPERS*/ 

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}